extends layout

block content
  h1= title
  h2 All quizzes, if any, will be shown below
  each quiz in quizzes
    div.show-quiz-container
      div.quiz-description-container
          h3 #{quiz.title}
          p #{quiz.description}
      div.quiz-question-container
        each question in questions
          h4 #{question.title}
      div.quiz-answer-container
        each answer in answers
          p #{answer.answers[0].answer}
          //- p #{answer.answers[1].answer}
          //- p #{answer.answers[2].answer}
          //- p #{answer.answers[3].answer}







    //- table
    //-   tr
    //-     th Title
    //-     th Description
    //-   each quiz in quizzes
    //-     tr
    //-       td #{quiz.title}
    //-       td #{quiz.description}
    //-   tr
    //-     th Question
    //-   each question in questions
    //-     tr
    //-       td #{question.title}
    //-   each answer in answers
    //-     tr
    //-       td #{answer.answers[0].answer}


    

